.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
}

.project-container h3{
    font-size: 1.5em;
    text-transform: uppercase;
}

.work-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-container button{
    font-size: 2em;
    padding: 1rem;
    margin: 10px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    background-color: white;
}

.work-container button:hover{
    background-color: grey;
    color: white;
}

.work-container img, .work-container video{
    border-radius: 10px;
}

.description{
    align-self: flex-start;
    font-size: 1.35em;
}

.work-container img, .work-container                                                                        video{
    height: 500px;
    max-width: 800px;
}
