.about-me-container{
    position: relative;
}

.about-me-desc{
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 25%;
    margin-left: 5%;
    margin-right: 45%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me-container img{
    position: sticky;
    z-index: 1;
    width: 100%;
}

#p1{
    font-size: 2.5em;
}

#p2{
    margin-top: 20%;
    font-size: 1.5em;
}
