section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

h2{
    text-align: center;
    position: relative;
    color: white;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2.5rem;
    width: 100%;
}

h2::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, white, transparent 35%, transparent 65%, white);
    top: 45%;
    bottom: 45%;
    left: 0;
    width: 100%;
}
