.grid{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 1.5em;
}

.grid div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid img{
    width: 250px;
}
